@page
@{
    ViewData["Title"] = "Set up gallery feed";
}

<h1>Set up gallery feed</h1>

<p>
    Visual Studio is capable of subscribing to extension feeds, so you will be notified
    of any updates to extensions found in this gallery. You will only be notified of any updates to extensions that you already have installed.
</p>

<section>
    <h2>Get the Open VSIX Gallery extension</h2>
    <p>
        To get automatic updates to any of your installed extensions that publishes their nightly builds to this website,
        simply install the
        <a href="https://marketplace.visualstudio.com/items?itemName=MadsKristensen.VSIXGallery-nightlybuilds">
            Open VSIX Gallery
        </a>
        extension. The extension just registers the main feed into Visual Studio for you, so you don't have to do it 
        manually. If you want to make any customizations instead, please continue reading. 
    </p>
</section>

<section>
    <h2>Choose the right feed</h2>
    <p>There are several feeds in this gallery you can subscribe to.</p>

    <dl>
        <dt>The main feed</dt>
        <dd>
            By subscribing to the <a href="/feed/">main feed</a> you will be notified by
            Visual Studio whenever any of the extensions in this gallery are updated. The feed
            contains all extensions available.
        </dd>

        <dt>Feed per author</dt>
        <dd>
            Each extension author has their own feed, so you can choose to subsribe to one or more
            authors' extensions.
        </dd>

        <dt>Feed for individual extension</dt>
        <dd>
            If you're only interested in getting updates to specific extensions, then you can subsribe
            to feeds for that one extension.
        </dd>
    </dl>
</section>

<section>
    <h2>Setup</h2>
    <p>In Visual Studio go to <strong>Tools -> Options -> Environment -> Extensions and Updates</strong>.</p>
    <p><img src="/img/visual-studio-options-dialog.png?v=1" alt="Visual Studio options dialog" /></p>


    <p>Click the <strong>Add</strong> button and fill in the name and URL fields.</p>
    <p><strong>Name</strong>: Give it a name you like</p>
    <p><strong>URL</strong>: Could be the main feed <a href="/feed/" target="_self">https://vsixgallery.com/feed/</a></p>
    <p>And finally click the <strong>Apply</strong> button.</p>

    <p>
        That's it. You've now added the nightly feed to Visual Studio and updates will start to show up in
        <strong>Tools -> Extensions and Updates</strong> dialog
    </p>

    <br />

    <h3>Extensions and Updates</h3>
    <p>
        You can now see the updates coming in to the <strong>Tools -> Extensions and Updates</strong> dialog.
    </p>

    <p><img src="/img/visual-studio-extensions-updates.png?v=1" alt="Visual Studio Extensions and Updates" /></p>
</section>

