@page
@model IndexModel
@{
    ViewData["Title"] = ViewData["SiteName"];
}

<h1>
    All extensions 
    <a href="~/feed/" class="feed shadow" title="ATOM feed for all extensions">Gallery feed</a>
</h1>

@await Html.PartialAsync("_ExtensionList", Model.Packages)

<div id="paging">
    @if (Model.CurrentPage > 2)
    {
        <a rel="prev" href="~/?page=@(Model.CurrentPage - 1 )">&lt; Previous</a>
    }
    else if (Model.CurrentPage > 1)
    {
        <a rel="prev" href="~/">&lt; Previous</a>
    }

    @if (Model.CurrentPage < Model.Pages)
    {
        <a rel="next" href="?page=@(Model.CurrentPage + 1)">Next &gt;</a>
    }
</div>