@page
@model SearchModel

@{
    ViewData["Title"] = $"Search results for '{Model.Term}'";
}

<h1>@Model.Packages.Count() results for <em>@Model.Term</em></h1>

@await Html.PartialAsync("_ExtensionList", Model.Packages)
