<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="500000000"  />
      </requestFiltering>
    </security>

    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

    <rewrite>
      <rules>
        <rule name="Redirects to www.vsixgallery.com" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^(vsixgallery.com)+" />
          </conditions>
          <action type="Redirect" url="https://www.vsixgallery.com/{R:0}" appendQueryString="true" redirectType="Permanent" />
        </rule>

        <rule name="VSIX paths">
          <match url="^(.+)/(.+\.vsix)$" />
          <action type="Rewrite" url="{R:1}/extension.vsix" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>