<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open VSIX Gallery</title>
    <link rel="stylesheet" href="~/css/site.scss" />

    <link rel="apple-touch-icon" sizes="180x180" href="~/img/icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/icon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/icon-16x16.png">
    <link rel="manifest" href="~/site.webmanifest">
</head>
<body>
    <header>
        <div class="container">
            <a href="/">Open VSIX Gallery</a>
            <form action="~/search/" method="get">
                <input type="search" name="q" placeholder="Search..." required />
                <button type="submit">Search</button>
            </form>
        </div>
    </header>

    <main role="main">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer>
        <div class="container">
            &copy; Mads Kristensen - <a href="https://github.com/madskristensen/VsixGallery/">GitHub</a>
        </div>
    </footer>
</body>
</html>
