@import "variables";

article {

    .icon {
        float: left;
    }

    .download {
        border-radius: 5px;
        background: $link-color;
        color: white;
        padding: 5px 8px;
        text-decoration: none;
    }
}

#details {
    margin-left: 150px;

    p {
        white-space: pre-wrap;
    }

    dl {
        line-height: 2em;
        display: grid;
        grid-template-columns: max-content auto;
    }

    dt {
        grid-column-start: 1;
    }

    dd {
        grid-column-start: 2;

        &:first-letter {
            text-transform: capitalize
        }
    }
}

#links {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 1.5em;
    }
}

#validation {
    background: rgb(255, 216, 0);
    border-radius: 5px;
    padding: 0 1em .7em 1em;
}

#readme {
    margin-top: 2em;
    clear: both;
    background: #eaeaea;
    border-radius: 5px;
    padding: 0 .5em .1em .5em;
    min-height: 500px;

    img {
        max-width: 100%;
    }
}
