@import "variables";

article {

    .icon {
        float: left;
    }

    .download {
        border-radius: 5px;
        background: $link-color;
        color: white;
        display: inline-block;
        margin: .5em 0;
        padding: 5px 8px;
        text-decoration: none;
    }
}

#details {
    margin-left: 150px;

    p {
        white-space: pre-wrap;
    }

    dl {
        line-height: 1.8em;
        display: grid;
        grid-template-columns: max-content auto;
    }

    dt {
        grid-column-start: 1;
    }

    dd {
        grid-column-start: 2;

        &:first-letter {
            text-transform: capitalize
        }
    }
}

#links {
    list-style: none;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 1.5em;
    }
}

#validation {
    background: rgb(255, 216, 0);
    border-radius: 5px;
    padding: 0 1em .7em 1em;
}

#readme {
    margin-top: 3em;
    clear: both;
    padding: 0 .5em .1em .5em;
    min-height: 500px;

    img {
        max-width: 100%;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        margin: 1em 0;
        width: auto;
        max-width: 100%;
        overflow: auto;

        th, td {
            padding: 6px 13px;
            border: 1px solid $light-backdrop;
        }

        th {
            font-weight: 600;
            background: lighten($light-backdrop, 8%);
        }

        tr:nth-child(2n) {
            background: lighten($light-backdrop, 12%);
        }
    }
}
