@import "variables";

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: $footer-height;
    background: $dark-backdrop;
    color: white;

    a {
        color: white;
    }

    ul {
        list-style: none;
        display: inline;
        margin: 0;
        padding: 0;
    }

    .container {
        display: -ms-grid;
        display: grid;
        grid-template-columns: max-content auto;
        grid-column-gap: 3em;
        margin-bottom: 2em;
    }

    h3 {
        margin: 5px 0;
    }

    #col1 {
        grid-column-start: 1;
    }

    #col2 {
        grid-column-start: 2;
    }

    #copyright {
        text-align: center;
        font-size: .9em;
    }
}